* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat-Medium;
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(../fonts/Montserrat/static/Montserrat-Medium.ttf);
}

.bodyindex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 86px auto auto auto auto;
  grid-template-areas: "nav    nav    nav    nav" "header header header header" "main   main   main   main" "aside  aside  aside  aside" "footer footer footer footer";
}

nav {
  grid-area: nav;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.logonav {
  height: 70px;
  border-radius: 50%;
}

.navpers{
  background-color: #F2EDDB !important;
}
 h1{
  margin-left: 15px;
 }
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 220px;
  margin: 10px;
}

.card-info > h2 {
  padding: 8px;
  margin-top: 10px;
  margin-left: 7px;
  font-size: 16px;
  font-family: Montserrat-Medium;
}
.card-info > h4 {
  padding-left: 8px;
  padding-bottom: 8px;
  color: rgb(75, 73, 73);
  font-size: 12px;
  margin-left: 7px;
}

.price {
  font-size: 14px;
  font-family: Montserrat-Medium;
  margin-left: 7px;
}

.btn {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 125px;
  border: none;
  border-radius: 5px;
  background-color: #D8CCBF;
  font-size: 13px;
  padding: 7px;
  font-family: Montserrat-Medium;
}

.cashandtruck {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: center;
}
.cashandtruck > div {
  display: flex;
}
.cashandtruck > div > h4 {
  font-size: 14px;
  margin-top: 35px;
  padding-right: 50px;
  padding-left: 10px;
}
.cashandtruck > div > img {
  height: 100px;
}

.cats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cat {
  width: 300px;
  position: relative;
}
.cat img {
  border-radius: 15px;
}
.cat  h2 {
  position: absolute;
  width: 100%;
  bottom: 40%;
  text-align: center;
  color: white;
}
.cuidados > ul {
  padding-left: 120px;
  padding-top: 10px;
  padding-right: 10px;
}
.cuidados h3 {
  padding-left: 80px;
  font-size: 16px;
}
.cuidados h2 {
  margin-left: 45px;
  margin-bottom: 25px;
  font-size: 28px;
}

form {
  width: 25%;
  margin-left: 100px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
form > input, form textarea {
  margin-top: 15px;
}

.map {
 margin-left: 60px;
 margin-bottom: 60px;
}
.mapmobile{
  margin-left: 45px;
  margin-bottom: 50px;
}
.mainubi{
  display: flex;
  flex-wrap: wrap;
}
.pubi{
  width: 45%;
  padding-left: 50px;
}
.wpp{
  text-decoration: none;
  color: black;
}
.foot {
  background-color: #D8CCBF;
}
.foot > h3 {
  padding: 35px;
  text-align: center;
  font-size: 20px;
}
.foot > h4 {
  padding: 35px;
  text-align: center;
  font-size: 16px;
}
.foot img {
  width: 20px;
  margin-left: 40px;
  margin-right: 5px;
}

.redes {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.redes > a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

@media (max-width: 900px) {
  .imgmobile{
    display: block;
  }
  .sliderdesktop{
    display: none;
  }
  .card {
    width: 160px;
    margin: 10px;
  }
  .card-info > h2 {
    text-align: c;
    padding: 8px;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 14px;
    font-family: Montserrat-Medium;
  }
  .card-info > h4 {
    padding-left: 8px;
    padding-bottom: 8px;
    color: rgb(75, 73, 73);
    font-size: 10px;
    margin-left: 7px;
  }
  .price {
    font-size: 12px;
    font-family: Montserrat-Medium;
    margin-left: 7px;
  }
  .btn {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 80px;
    border: none;
    border-radius: 5px;
    background-color: #D8CCBF;
    font-size: 11px;
    padding: 7px;
    font-family: Montserrat-Medium;
  }
  form{
    width: 75%;
  }
  .parrafo{
    margin-left: 10px;
    padding-left: 45px;
    padding-right: 25px;
  }
  .cuidados > h3{
    padding-left: 55px;
  }
  .cuidados > ul{
    padding-left: 85px;
    padding-right: 25px;
  }
  .mapmobile{
    display: block;
    width: 80%;
  }
  .map{
    display: none;
  }
  .pubi{
    width: 90%;
    margin-bottom: 45px;
    margin-left: 0px;
  }
  .pubi > p{
    padding-left: 0px;
  }
  .h1index{
    padding-top: 40px;
  }
  h1{
    font-size: 24px !important;
  }
  .cat {
    width: 200px;
  }  
  .cat h2 {
    position: absolute;
    width: 100%;
    bottom: 40%;
    right: 1px;
    text-align: center;
    color: white;
    font-size: 19px;
  }
  
}
@media (min-width: 900px) {
  .imgmobile{
    display: none;
  }
  .mapmobile{
    display: none;
  }
  .slidermobile{
    display: none;
  }
  .h1index{
    padding-top: 50px;
  }
  h1{
    padding-left: 40px;
    padding-top: 120px;
    padding-bottom: 30px;
  }
  .parrafo{
    padding-left: 75px;
  }
  .form{
    margin-left: 40px;
  }
}
@media(max-width:1050px){
  .cashandtruck{
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
  }
  form{
    width: 60%;
  }
}
@media(max-width:650px){
  .redes{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .redes > a {
    text-decoration: none;
    color: black;
    font-size: 8px;
  }
  .redes > h5 {
    font-size: 8px;
  }
  .foot > h3 {
    padding: 35px;
    text-align: center;
    font-size: 20px;
  }
  .foot > h4 {
    padding: 35px;
    text-align: center;
    font-size: 16px;
  }
  .foot img {
    width: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  .redes > a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }
}

@media(max-width:415px){
  .cat {
    width: 160px;
}
.body {
  background-color: #F2EDDB;
  width: 100vw;
}

h1 {
  margin: 40px;
  margin-top: 130px;
  font-size: 35px;
}

p {
  padding-left: 80px;
  padding-right: 10px;
  font-size: 15px;
}

.foot{
  background-color: #D8CCBF;
}

.redes{
  display: flex;
  padding-bottom: 45px;
}

.redes h5{
  padding-left: 10px !important;
  padding-right: 25px;
}
.h1index{
  margin: 0;
  padding-left: 20px;
  padding-bottom: 16px;
}
}
 
